/* Imports the google fonts Lexend Deca and Big SHoulders Display */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url(./reset.css);

:root {
  --color-bright-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);
  --color-white-75: hsla(0, 0%, 100%, 0.75);
  --color-white: #fff;
  --color-very-light-gray: hsl(0, 0%, 95%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-very-light-gray);
  font-size: 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  padding: 2.4rem;
}

.main {
  border-radius: 0.8rem;
  overflow: hidden;
}

.card {
  padding: 4.8rem;
}

.card-sedans {
  background-color: var(--color-bright-orange);
}

.card-suvs {
  background-color: var(--color-dark-cyan);
}

.card-luxury {
  background-color: var(--color-very-dark-cyan);
}

.card-title {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Big Shoulders Display', cursive;
  color: var(--color-very-light-gray);
  text-transform: uppercase;
}

.card-body {
  color: var(--color-white-75);
  margin: 2.5rem 0;
  line-height: 2.5rem;
}

.card-image {
  margin-bottom: 3.5rem;
}

.card-link {
  display: inline-block;
  background-color: var(--color-very-light-gray);
  padding: 1.25rem 3.2rem;
  border-radius: 2.5rem;
  text-decoration: none;
  font-weight: 400;
  border: 2px solid var(--color-very-light-gray);
  transition: background-color 0.2s, color 0.2s;
}

.card-sedans .card-link {
  color: var(--color-bright-orange);
}

.card-suvs .card-link {
  color: var(--color-dark-cyan);
}

.card-luxury .card-link {
  color: var(--color-very-dark-cyan);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1.6rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
  transition: color 0.2s, text-decoration 0.2s;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 1.2rem;
}

@media (hover: hover) and (pointer: fine) {
  .card-link:hover {
    background-color: transparent;
    color: var(--color-very-light-gray);
  }

  .attribution a:hover {
    color: hsla(228, 45%, 44%, 0.7);
    text-decoration: none;
  }
}

@media only screen and (min-width: 968px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    max-width: 92rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-body {
    margin-bottom: 8.3rem;
  }

  .attribution {
    position: fixed;
    bottom: 2.4rem;
  }
}
